[submodule "metamod"]
	path = metamod
	url = https://github.com/alliedmodders/metamod-source
[submodule "hl2sdk"]
	path = hl2sdk
	url = https://github.com/alliedmodders/hl2sdk
	branch = cs2
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "vendor/cpp-httplib"]
	path = vendor/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "vendor/luacpp"]
	path = vendor/luacpp
	url = https://github.com/ouonline/luacpp
	
[submodule "vendor/lua-rapidjson"]
	path = vendor/lua-rapidjson
	url = https://github.com/xpol/lua-rapidjson
