[submodule "metamod"]
	path = metamod
	url = https://github.com/alliedmodders/metamod-source
[submodule "hl2sdk"]
	path = hl2sdk
	url = https://github.com/alliedmodders/hl2sdk
	branch = cs2
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "vendor/luacpp"]
	path = vendor/luacpp
	url = https://github.com/ouonline/luacpp
[submodule "vendor/lua-rapidjson"]
	path = vendor/lua-rapidjson
	url = https://github.com/xpol/lua-rapidjson
[submodule "vendor/lua"]
	path = vendor/lua
	url = https://github.com/lua/lua.git
	branch = 6443185167c77adcc8552a3fee7edab7895db1a9
[submodule "vendor/protobuf-3.21.8"]
	path = vendor/protobuf-3.21.8
	url = https://github.com/protocolbuffers/protobuf.git
	branch = dab4d24d44eea0f21d6a21a548ee2b8c22b37f4f
