[submodule "alliedmodders/hl2sdk"]
	path = alliedmodders/hl2sdk
	url = https://github.com/alliedmodders/hl2sdk
	branch = cs2
[submodule "alliedmodders/metamod"]
	path = alliedmodders/metamod
	url = https://github.com/alliedmodders/metamod-source
[submodule "vendor/LuaBridge"]
	path = vendor/LuaBridge
	url = https://github.com/vinniefalco/LuaBridge
[submodule "vendor/dynlib"]
	path = vendor/dynlib
	url = https://github.com/komashchenko/DynLibUtils
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/Tencent/rapidjson
